{% extends 'user_layout.twig' %}

{% block title %}Forgot Your Password?{% endblock %}
{% block content %}
    <h1 class="dark:text-gray-300 text-lg text-gray-700">Please inform an admin about this issue. <a class="c-links" href="{{ backlink() }}">Back</a></h1>
{% endblock %}